:root.theme-light {
  --accent-color: #ff8dcb;
  --background-color: #fff1f7;
  --accent-color-opacity: #32312d66;
  --background-image: url("../images/cover-image-light.png");
  --decoration-color: var(--text-color);
  --header1-color: #ffc2e6;
  --header2-color: var(--text-color);
  --header3-color: var(--text-color);
  --text-color: #353430;
  --is-light: hidden;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark):not(.theme-light) {
    --accent-color: #ff8dcb;
    --background-color: #fff1f7;
    --accent-color-opacity: #32312d66;
    --background-image: url("../images/cover-image-light.png");
    --decoration-color: var(--text-color);
    --header1-color: #ffc2e6;
    --header2-color: var(--text-color);
    --header3-color: var(--text-color);
    --text-color: #353430;
    --is-light: hidden;
  }
}
