.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--font-family);
}


.decorated-zone::before {
  position: absolute;
  align-self: flex-start;
  justify-self: end;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
}


.decorated-zone::after {
  position: absolute;
  justify-self: start;
  align-self: flex-end;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
}


.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}


.text-link:focus-visible {
  outline: none;
}


.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  padding: 10px;
}


.rec-indicator {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  position: absolute;
  align-self: flex-start;
  justify-self: end;
  visibility: var(--is-light);
  block-size: 25px;
  color: var(--accent-color);
  font-size: var(--regular-font-size);
  line-height: 25px;
  text-transform: uppercase;
}


.rec-indicator::after {
  content: "";
  align-self: center;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-end: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}


.header__theme-menu {
  grid-column: 1 / 3;
  justify-self: end;
}


.header__theme-menu-list {
  display: grid;
  gap: 10px;
}


.header__theme-menu-button {
  background-color: inherit;
  border: none;
  padding: 4px 13px;
  color: var(--decoration-color);
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  cursor: pointer;
}


.header__theme-menu-button_active {
  border: 1px solid var(--decoration-color);
  pointer-events: none;
}


.header__title {
  grid-column: 1 / 3;
  justify-self: start;
  color: var(--header1-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--small-line-height);
  text-shadow: 4px 4px 0 var(--accent-color);
}


.header__subtitle {
  display: inline-block;
  grid-column: 1 / 3;
  justify-content: end;
}


.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  row-gap: 50px;
  margin-block: 40px;
  padding-inline: 10px;
}


.content-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / 4;
  gap: 20px;
}


.content-section__title {
  grid-column: 1 / 4;
  color: var(--header2-color);
  font-size: var(--regular-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--large-line-height);
}


.content-section__subtitle {
  grid-column: 1 / 4;
  background-color: var(--accent-color);
  color: var(--header3-color);
  font-size: var(--regular-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--large-line-height);
}


.content-card {
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-flow: row;
  grid-column: 1 / 4;
  row-gap: 10px;
}


.content-card__title {
  grid-column: 1 / 4;
}


.title-decor {
  background-color: var(--accent-color);
  color: var(--header3-color);
  font-size: var(--regular-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--large-line-height);
}


.content-card__text {
  grid-column: 1 / 4;
  color: var(--text-color);
  font-size: var(--regular-font-size);
  line-height: var(--large-line-height);
}


.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-column: 1 / 4;
  gap: 10px;
}


.gallery__title {
  grid-column: 1 / 4;
}


.gallery__image {
  grid-column: 1 / 4;
  width: 100%;
  height: 100%;
}


.footer {
  display: grid;
  min-block-size: 668px;
  block-size: 100vh;
  padding: 10px;
}


.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--header1-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--title-line-height);
  text-shadow: 2px 2px 0 var(--accent-color);
}


@media (width >= 768px) {
  .header {
    padding: 20px;
  }


  .header__title {
    position: relative;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }


  .header__subtitle {
    grid-column: 2 / 3;
  }


  .content {
    margin-block: 60px;
    padding-inline: 20px;
    row-gap: 80px;
  }


  .content-section {
    grid-template-columns: 1fr 2fr;
  }


  .content-section__title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }


  .content-card {
    grid-column: 2 / 3;
  }


  .content-section:nth-child(2) .content-card {
    grid-column: 1 / 4;
  }


  .content-section > .content-section__subtitle {
    grid-column: 2 / 3;
  }


  .gallery {
    gap: 20px;
  }


  .gallery__image {
    object-fit: cover;
    object-position: center;
  }


  .gallery__image:nth-child(2) {
    grid-column: 1 / 3;
  }


  .gallery__image:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }


  .gallery__image:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }


  .gallery__image:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }


  .gallery__image:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }


  .footer {
    padding: 20px;
  }
}


@media (width >= 1024px) {
  .text-link:hover {
    border-bottom: 1px solid var(--text-color);
  }


  .text-link:focus {
    outline: none;
  }


  .text-link:focus-visible {
    outline: 1px solid var(--text-color);
    outline-offset: -1px;
  }


  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }


  .header__theme-menu-list {
    grid-auto-flow: column;
  }


  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
    border: 1px solid var(--accent-color-opacity);
  }


  .header__theme-menu-button:focus {
    outline: none;
  }


  .header__theme-menu-button:focus-visible {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--decoration-color);
  }


  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }


  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }


  .content-card {
    grid-column: 2 / 4;
  }


  .content-section:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }


  .content-section:nth-child(2) .content-section__title {
    grid-row: span 1;
  }


  .content-section:nth-child(2) .content-card {
    grid-row: 2 / 3 ;
    grid-column: span 1;
  }


  .content-section > .content-section__subtitle {
    grid-column: 2 / 4;
  }


  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
